@media (max-width: 719px)
  .home
    .hero
      position static
      height auto
      padding-left 0
      align-items center
      img
        position static
        padding 0
        transform none
      h1
        font-size 2rem
      .description
        font-size 1.2rem
      h1, h2, h3, p
        text-align center
      .action-button
        padding 0.6rem 0.5rem
        font-size 0.9rem
        &:first-child
          margin-right 1rem
  .sidebar
    left 0 !important
    box-shadow $boxShadow
  